body {
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0 0 5rem 0;
}

.container,
.mt-4 {
    margin-top: 4rem;
}

.mt-2 {
    margin-top: 2rem;
}

.ml-0 {
    margin-left: 0;
}

.map1,
.map2 {
    height: 400px;
    background: transparent;
}

.map1 {
    height: 600px;
}

.button,
button,
.u-full-width.button.button-primary {
    padding: 5px 30px;
    font-size: 1.6rem;
    height: 5rem;
}

legend {
    /* = h2 ze skeletonu */
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

.upload2.icon {
    color: #000;
    position: absolute;
    margin-left: 8px;
    margin-top: 12px;
    width: 11px;
    height: 11px;
    border: solid 1px currentColor;
    border-radius: 1px;
    transform: rotate(90deg);
}

.upload2.icon:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 1px;
    height: 10px;
    background-color: currentColor;
    border-left: solid 3px white;
    border-right: solid 3px white;
}

.upload2.icon:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nowrap {
    white-space: nowrap
}

.sup {
    margin-left: -4px;
}

fieldset label i {
    font-weight: 400;
}

input[type="number"] {
    text-align: end;
}

.h-i {
    margin-top: 2rem;
}

.h-i-adresa {
    margin-left: -20px;
    /* TODO: ugly hack */
}

.h-i-udaje {
    margin-left: -80px;
}

/* 
.one.column.lg-ico-wrap {
    margin-left: -20px;
    margin-top: -20px;
}
.lg-ico {
    font-size: 5rem;
} */

label {
    display: initial;
}

input[type="radio"] {
    width: 2rem;
    height: 2rem;
}

.list-unstyled {
    list-style: none;
}

.leaflet-bar .tag-filter-tags-container {
    margin-left: 40px;
}